.bubbles {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
	overflow: hidden;
  pointer-events: none;

  .bubble {
    position: absolute;
    top: 100%;
    left: 0;
    border: 2px solid #FFFFFF1A;
    border-radius: 50%;
    background: linear-gradient(308.25deg, rgba(239, 239, 239, 0.03) 11.64%, rgba(249, 249, 249, 0.044) 43.59%, rgba(255, 255, 255, 0.05) 62.58%, rgba(255, 255, 255, 0.053) 68.63%, rgba(255, 255, 255, 0.061) 77.26%, rgba(255, 255, 255, 0.074) 87.62%, rgba(255, 255, 255, 0.09) 97.99%);
    backdrop-filter: blur(4px);
    animation-name: bubble;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-duration: 100s;
  }

  &#bubbles-1{
    .bubble {
      animation-iteration-count: 1;
      animation-fill-mode: forwards;
    }
  }


  @keyframes appearance {
    to {
      opacity: 1;
      transform: scale(1);
    }
  }
  @keyframes bubble {
    to {
      top: -10%;
    }
  }
}

.dark-theme{
  .bubbles{
    .bubble{
      background: linear-gradient(308.25deg, rgba(222, 205, 239, 0.06) 11.64%, rgba(255, 255, 255, 0.088) 43.59%, rgba(222, 205, 239, 0.1) 62.58%, rgba(222, 205, 239, 0.106) 68.63%, rgba(222, 205, 239, 0.122) 77.26%, rgba(222, 205, 239, 0.148) 87.62%, rgba(222, 205, 239, 0.18) 97.99%);
      border: 2px solid #FFFFFF40;
      ;
    }
  }
}